.contact_card{
   
    width: 400px;
    height: 500px;
    margin:30px auto;
    position: relative;
   

}
.contact_card_whole{
    position: relative;
   
    width: 100%;
}
.each_contact{
    
    height: 60px;
    display: flex;
    margin: 20px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

}

.each_contact>div{
   
 
   


}
.each_contact>div:nth-child(1){
     width: 15%;
    height: 50px;
    display: flex;
    
}

.each_contact>div:nth-child(1) img{
    width: 100%;
    height: 100%;
    
     border-radius: 100px;
    
}
.contact_name_email h2,p{
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
}
.popup_contact{
  
    position: absolute;
    transform: translate(280%,-190%);

   
    
    width: 300px;
    height: 300px;
}
.popup_contact>div:nth-child(1){
    width: 100%;
    height: 200px;
   
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

}
.popup_contact>div:nth-child(1) img{
    width: 80%;
    height: 200px;
    border-radius:100px ;
   
}
.popup_contact p{
    text-align: start;
    margin: 10px;
}

.popup_contact>div:nth-child(2){
    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}